@{
    ViewData["Title"] = "Motorista";
}

<div class="container-fluid row mb-3 ">
    <img src="~/imgs/Imgs8.png" class="img-fluid" style="max-width: 731PX; max-height: 523px;" alt="" />
    <div class="container-fluid col align-content-center ps-5">
        <h1 class="display-6 newsreader-fonteTitulo fw-bold">Por que ser um motorista parceiro?</h1>
        <p class="lead newsreader-fontePadrao fw-normal">
            <strong>
                🚐 Ganhos Consistentes:
            </strong> Sabe aquela vaga que você não consegue preencher e que lhe daria mais retorno financeiro? <br />
            Com a demanda constante por transporte escolar, você terá a garantia de uma renda extra todos os meses.<br /><br />
            <strong>
                🕒 Horários Flexíveis:
            </strong> Escolha os horários que melhor se encaixam na sua rotina. Trabalhe de manhã, à tarde ou ambos, e tenha mais tempo livre para você e sua família.
        </p>
    </div>
</div>

<div class="container-fluid row mb-3 d-flex flex-lg-wrap-reverse">
    <div class="container-fluid col align-content-center ps-5">
        <h1 class="display-6 newsreader-fonteTitulo fw-bold">Nosso Aplicativo</h1>
        <p class="lead newsreader-fontePadrao fw-normal">
            <strong>
                👨‍👩‍👧‍👦 Segurança e Confiabilidade:
            </strong> Nosso aplicativo conecta você a famílias que buscam um transporte seguro e confiável para seus filhos. Você será parte de uma comunidade que valoriza a segurança e o bem-estar das crianças. <br /> <br />
            <strong>
                📱 Tecnologia a Seu Favor:
            </strong> Com nosso aplicativo fácil de usar, você gerencia suas corridas, acompanha seus ganhos e recebe suporte sempre que precisar, tudo na palma da sua mão.
        </p>
    </div>
    <img src="~/imgs/fds.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="Vá de Van" />

</div>

<div class="container-fluid row mb-3">
    <img src="~/imgs/Imgs10.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
    <div class="col align-content-center ps-5">
        <h1 class="display-6 newsreader-fonteTitulo fw-bold">Como funciona?</h1>
        <ul>
            <li>
                <p class="lead newsreader-fontePadrao">
                    <strong>
                        Cadastro Simples:
                    </strong> Inscreva-se no nosso aplicativo com poucos cliques e envie a documentação necessária.
                </p>
            </li>
            <li>
                <p class="lead newsreader-fontePadrao">
                    <strong>
                        Treinamento e Suporte:
                    </strong> Receba treinamento completo e suporte contínuo para garantir que você esteja sempre preparado.
                </p>
            </li>
            <li>
                <p class="lead newsreader-fontePadrao">
                    <strong>
                        Comece a Ganhar:
                    </strong> Aceite corridas, transporte alunos e veja seus ganhos crescerem!
                </p>
            </li>
        </ul>
        <div class="col-auto">
            <a class="nav-link text-black btn-warning rounded-pill btn-quer-ser-um-motorista  pt-2 text-nowrap fw-bold" aria-current="page" asp-controller="Motorista" asp-action="CadastroMotorista">Quero ser um Motorista Parceiro</a>
            <a class="nav-link text-black btn-botao rounded-pill btn-cadastro-motorista  ps-4 pt-2 mt-3 text-nowrap fw-bold" aria-current="page" href="#">Já tem uma conta? Fazer login</a> @* EM HAVER *@
        </div>
    </div>
</div>