@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mb-3">
    <img src="~/imgs/Imgs12.png" class="img-fluid" style="max-width: 731PX; max-height: 601px;" alt="" />
    <div class="col align-content-center ps-5">
        <h1 class="display-4">Quem Somos</h1>
        <p class="lead">
            <strong>
                Somos uma empresa dedicada a transformar o transporte escolar em uma experiência segura,
                confiável e conveniente para pais e alunos. Nosso compromisso é proporcionar tranquilidade e confiança,
                garantindo que seus filhos cheguem à escola e voltem para casa com segurança e pontualidade.
            </strong>
        </p>
    </div>
</div>

<div class="row mb-3 d-flex flex-wrap-reverse">
    <div class="col align-content-center ps-5">
        <h1 class="display-4"> Nossa Missão </h1>
        <p class="lead">
            <strong>
                Nossa missão é oferecer um serviço de transporte escolar que priorize a segurança,
                o conforto e a eficiência. Acreditamos que cada criança merece um trajeto seguro e agradável,
                e cada pai merece a paz de espírito de saber que seus filhos estão em boas mãos.
            </strong>
        </p>
    </div>
    <img src="~/imgs/Imgs1.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
</div>

<div class="row mb-3">
    <img src="~/imgs/Imgs2.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
    <div class="col align-content-center ps-5">
        <h1 class="display-4"> Nossos Valores </h1>
        <ul>
            <li>
                <p class="lead">
                    <strong>
                        Segurança: Utilizamos tecnologia de ponta em nosso App, desta forma, todo o trajeto poderá
                        ser acompanhado, em tempo real, desde a solicitação dos serviços até o efetivo desembarque.
                    </strong>
                </p>
            </li>
            <li>
                <p class="lead">
                    <strong>
                        Confiabilidade: Selecionamos e treinamos rigorosamente nossos motoristas para garantir que
                        sejam profissionais qualificados e de confiança.
                    </strong>
                </p>
            </li>
            <li>
                <p class="lead">
                    <strong>
                        Inovação: Utilizamos um aplicativo moderno e intuitivo para facilitar a comunicação e o
                        agendamento das viagens, proporcionando uma experiência prática e eficiente.
                    </strong>
                </p>
            </li>
            <li>
                <p class="lead">
                    <strong>
                        Compromisso: Estamos sempre disponíveis para atender às necessidades dos pais e alunos,
                        oferecendo suporte e soluções rápidas para qualquer situação.
                    </strong>
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="row mb-3 d-flex flex-wrap-reverse">
    <div class="col align-content-center ps-5">
        <h1 class="display-4"> Nossa Equipe </h1>
        <p class="lead">
            <strong>
                Nossa equipe é composta por profissionais dedicados e apaixonados pelo que fazem.
                Desde os motoristas até o suporte ao cliente, todos trabalham com um único objetivo:
                garantir a melhor experiência de transporte escolar para você e seus filhos.
            </strong>
        </p>
    </div>
    <img src="~/imgs/Imgs3.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
</div>

<div class="row mb-3">
    <img src="~/imgs/Imgs4.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
    <div class="col align-content-center ps-5">
        <h1 class="display-4"> Por que escolher Nossos Serviços? </h1>
        <p class="lead">
            <strong>
                Escolher nosso serviço de van escolar é optar por segurança, conforto e tranquilidade.
                Estamos aqui para tornar a rotina escolar mais fácil e segura, permitindo que você se concentre
                no que realmente importa.
            </strong>
        </p>
    </div>
</div>

<div class="row mb-3 d-flex flex-wrap-reverse">
    <div class="col align-content-center ps-5">
        <h1 class="display-4"> Faça a escolha certa para o futuro do seu filho! </h1>
        <h5 class="lead">
            <strong>
                Baixe nosso aplicativo hoje mesmo e descubra como podemos tornar o transporte escolar mais seguro,
                conveniente e eficiente.
            </strong>
        </h5>
        <div class="row">
            <a class="nav-link text-black btn-warning rounded-pill me-5 ms-5 w-auto" aria-current="page" href="#">Ver mais</a>
            <a class="nav-link text-black btn-botao rounded-pill btn-Cadastro w-auto" aria-current="page" href="#">Já tem uma conta? Fazer login</a> <!--EM HAVER-->
        </div>
    </div>
    <img src="~/imgs/Imgs5.png" class="img-fluid" style="max-width: 731PX; max-height: 561px;" alt="" />
</div>